<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Products</title>
  <meta name="description" content="This is a store where Apple mobile phone are sold in Belgrade, started working 2011 and you can find your favorite iphone mobile" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="apple, iphone, XS, store, phone" />
  <meta name="author" content="Rajko Vrga" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous" />
<!--  <link rel="shortcut icon" href="img/icon.ico" type="image/x-icon" />-->
<!--  <link rel="stylesheet" href="css/style.css" />-->
</head>

<body>
<div class="element menuSecond">
  <ul>
    <li id="shopping-basket"> <a [routerLink]="['/products']">
      <i class="fas fa-shopping-basket"></i>
    </a>
    </li>
    <li id="logo"><img src="assets/img/logo.png" alt="" /></li>
    <li id="cart"><a [routerLink]="['/cart']">
      <i class="fas fa-shopping-cart"></i>
      <p id="numberArticles">{{numberItems}}</p>
    </a>
    </li>
  </ul>
</div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</body>
</html>
