<footer class="element copy">
  <div class="social">
    <a target="blank_" class="fab fa-instagram" href="https://www.instagram.com/?hl=sr"></a>
    <a target="blank_" class="fas fa-sitemap" href="sitemap.xml"></a>
    <a target="blank_" class="fab fa-facebook-f" href="http://www.facebook.com">
    </a>
    <a target="blank_" class="fab fa-twitter" href="http://www.twitter.com"></a>
  </div>
  <div class="Documentation"><a href="https://github.com/rajkovrga/angular-iphone-shop/blob/master/README.md" target="_blank">Documentation</a></div>
  <div class="copyText">
    <p>&copy; Rajko Vrga 122/17</p>
  </div>
</footer>
